/* ==========================
   Reset
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f7fc;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

/* ==========================
   Main Container
========================== */

.container{
    width:900px;
    display:flex;
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

/* ==========================
   Left Side
========================== */

.left{
    width:45%;
    background:#2563eb;
    color:white;
    padding:40px;
    text-align:center;
}

.left h1{
    margin-bottom:20px;
    font-size:35px;
}

.left p{
    line-height:28px;
    margin-bottom:30px;
}

.left img{
    width:220px;
}

/* ==========================
   Right Side
========================== */

.right{
    width:55%;
    padding:40px;
}

.right h2{
    text-align:center;
    color:#2563eb;
    margin-bottom:25px;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:8px;
    font-weight:bold;
}

input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

/* ==========================
   Password
========================== */

.password-box{
    display:flex;
}

.password-box input{
    flex:1;
}

.password-box button{
    width:55px;
    border:none;
    background:#2563eb;
    color:white;
    cursor:pointer;
    border-radius:0 8px 8px 0;
}

/* ==========================
   Remember & Forgot
========================== */

.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:15px;
    font-size:14px;
}

.options a{
    text-decoration:none;
    color:#2563eb;
}

.options a:hover{
    text-decoration:underline;
}

/* ==========================
   Buttons
========================== */

.login-btn,
.signup-btn{

    width:100%;
    padding:12px;
    margin-top:20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

.login-btn{
    background:#2563eb;
    color:white;
}

.login-btn:hover{
    background:#1d4ed8;
}

.signup-btn{
    background:#10b981;
    color:white;
}

.signup-btn:hover{
    background:#059669;
}

/* ==========================
   Responsive
========================== */

@media(max-width:768px){

.container{
    width:95%;
    flex-direction:column;
}

.left,
.right{
    width:100%;
}

.left img{
    width:170px;
}

.options{
    flex-direction:column;
    gap:10px;
    align-items:flex-start;
}

}
.login-logo{

    width:90px;

    margin-bottom:20px;

}
